#sosearchpro {
    width: 100%;
}
#sosearchpro .autosearch-input {
    height: 42px;
    line-height: 20px;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#sosearchpro .button-search {
    border: none;
}
#sosearchpro .select_category {
    position: relative;
    display: table-cell;
    vertical-align: top;
    border: 2px solid #e5e5e5;
    background: white;
}
#sosearchpro .select_category select {
    height: 40px;
    width: 100%;
    line-height: 100%;
    padding: 0 5px;
    border: none;
    float: left;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
}
#sosearchpro .dropdown-menu li > a:hover {
    background: transparent;
}
/* #sosearchpro .icon-select::after {
    content: "\f107";
    color: black;
    font-family: "FontAwesome";
    right: 0px;
    top: 0px;
    position: absolute;
    pointer-events: none;
    background: white;
    line-height: 36px;
    width: 30px;
    height: 100%;
    text-align: center;
}
 */
@media (max-width: 479px) {
    #sosearchpro .media-body {
        padding: 0px 15px;
    }
    #sosearchpro {
        width: 100%;
    }
    #sosearchpro .select_category select {
        width: auto;
    }
    #sosearchpro .dropdown-menu {
        left: 0px !important;
    }
}
#sosearchpro .dropdown-menu .media {
    margin: 0px;
    border-bottom: 1px solid #e5e5e5;
}
#sosearchpro .dropdown-menu {
    padding: 0px;
    max-height: 300px;
    overflow-y: scroll;
}
#sosearchpro .dropdown-menu .media:hover {
    background-color: #e5e5e5;
}
#sosearchpro .dropdown-menu .media-left {
    float: left;
    padding: 5px;
}
#sosearchpro .dropdown-menu .media-body {
    padding: 10px;
}
#sosearchpro .dropdown-menu .media-body a {
    float: left;
}
#sosearchpro .dropdown-menu .media-body .box-price {
    float: right;
    width: 100%;
}
#sosearchpro .dropdown-menu .media-body .box-price span {
    padding-right: 10px;
    float: left;
}
.so-blog-external {
    display: block;
    overflow: hidden;
}
.so-latest-blog .media-heading a {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    padding: 0 0 0 15px;
}
.so-latest-blog .blog-external-simple {
    margin: 0 -15px;
}
.so-latest-blog .blog-external-simple .media-heading a {
    font-size: 14px;
    color: #0081c2;
    font-weight: normal;
    padding: 0px;
}
.blog-external-simple .media .item .media-body .media-heading:before {
    width: 0px;
    height: 0px;
}
.so-latest-blog .cat-wrap {
    margin-bottom: 20px;
}
.so-blog-external .item .thumbnail {
    margin-bottom: 0;
}
.so-latest-blog .media-heading a:hover {
    color: #f4a137;
}
.so-latest-blog .media-content .description {
    font-size: 13px;
    line-height: 25px;
}
.so-latest-blog .media-content .media-author {
    color: #f4a137;
    line-height: 10px;
    padding: 0 10px 0 0;
}
.so-latest-blog .media-content .media-comment,
.so-latest-blog .media-content .media-view {
    color: #999;
}
.so-latest-blog .media-content .readmore {
    float: right;
    padding-right: 15px;
}
.so-latest-blog .media-content .media-subcontent {
    clear: both;
}
.so-latest-blog .blog-external {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
}

.so-blog-external .owl2-controls {
    margin-bottom: 8px;
    text-align: right;
    float: right;
    vertical-align: middle;
    display: inline;
    margin-bottom: 20px;
}

.so-blog-external .owl2-controls .owl2-prev,
.so-blog-external .owl2-controls .owl2-next {
    float: left;
    outline: none;
    font-size: 22px;
    line-height: 18px;
    color: #797575;
    cursor: pointer;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    font-family: Arial;
    height: 20px;
    vertical-align: middle;
}

.so-blog-external .owl2-controls .owl2-dots .owl2-dot {
    display: inline-block;
    zoom: 1;
}

.so-blog-external .owl2-dots .owl2-dot {
    display: block;
    width: 12px;
    height: 12px;
    margin: 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #797575;
    cursor: pointer;
    vertical-align: middle;
}

.so-blog-external .owl2-dots .owl2-dot:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #77f9f1;
}

.so-blog-external.button-type2 .owl2-controls {
    width: 100%;
}

.so-blog-external.button-type2 .owl2-nav {
    float: right;
    text-align: right;
    margin-bottom: 8px;
}

.so-blog-external.button-type1 .owl2-dots {
    float: left;
}

.so-blog-external.button-type2 .owl2-dots {
    text-align: center;
    margin-top: 10px;
    display: block;
}

.so-blog-external .owl2-dots .owl2-dot.active {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #77f9f1;
}

.so-blog-external .owl2-dots .owl2-dot:focus,
.so-blog-external .owl2-nav .owl2-prev:focus,
.so-blog-external .owl2-nav .owl2-next:focus {
    outline: none;
}

.so-blog-external.button-type2 .owl2-dots {
    text-align: center;
    margin-top: 10px;
    display: block;
}

.so-blog-external.button-type2 .owl2-prev,
.so-blog-external.button-type2 .owl2-next {
    background: none repeat scroll 0 0 #797575;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    line-height: 18px;
    margin: 0 0 0 4px;
    opacity: 0.5;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.so-blog-external .owl2-prev:hover,
.so-blog-external .owl2-next:hover {
    color: #fff;
    background: #77f9f1;
    filter: Alpha(Opacity=100);
    opacity: 1;
}
/*--------------item content----------------*/
.so-blog-external .blog-external .media {
    margin: 15px 0;
    overflow: inherit;
}
.so-blog-external .blog-external .media .media-body .description {
    margin-bottom: 15px;
}
.so-blog-external .blog-external .media .item {
    margin: 5px 0;
}

.so-blog-external .blog-external .media .media-left,
.so-blog-external .blog-external .media .media-content {
    display: none;
}
.so-blog-external .blog-external .media .so-block {
    display: block;
    float: left;
}
.so-title {
    color: #111111;
}

/* -------------------------Slider ----------------------*/
.so-latest-blog .head-button .thumbnail {
    margin: 0 1px;
}
.so-latest-blog .caption {
    display: inline-block;
}
.so-latest-blog .caption .readmore a {
    float: right;
}
.so-latest-blog .thumbnail .media-subcontent {
    margin-top: 10px;
}
.so-latest-blog .thumbnail .media-subcontent .media-author {
    color: #f4a137;
    line-height: 10px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.so-latest-blog .thumbnail .media-subcontent .media-comment {
    line-height: 10px;
    padding: 0 5px;
}
/*############################################## Css Device ##################################*/
.so-latest-blog.lt-ie9.preset01-1 .cat-wrap {
    float: left;
    padding: 0;
    width: 100%;
}

.so-latest-blog.lt-ie9.preset01-2 .cat-wrap {
    float: left;
    padding: 0 15px;
    width: 50%;
}

.so-latest-blog.lt-ie9.preset01-3 .cat-wrap {
    float: left;
    padding: 0 15px;
    width: 33.3333%;
}

.so-latest-blog.lt-ie9.preset01-4 .cat-wrap {
    float: left;
    padding: 0 15px;
    width: 25%;
}

.so-latest-blog.lt-ie9.preset01-5 .cat-wrap {
    float: left;
    padding: 0 15px;
    width: 20%;
}

.so-latest-blog.lt-ie9.preset01-6 .cat-wrap {
    float: left;
    padding: 0 15px;
    width: 16.6666%;
}

.so-latest-blog.lt-ie9.preset01-1 .clr1,
.so-latest-blog.lt-ie9.preset01-2 .clr2,
.so-latest-blog.lt-ie9.preset01-3 .clr3,
.so-latest-blog.lt-ie9.preset01-4 .clr4,
.so-latest-blog.lt-ie9.preset01-5 .clr5,
.so-latest-blog.lt-ie9.preset01-6 .clr6 {
    clear: both;
}

@media all and (max-width: 320px) {
    .so-latest-blog.preset05-1 .cat-wrap {
        float: left;
        padding: 0;
        width: 100%;
    }

    .so-latest-blog.preset05-2 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 50%;
    }

    .so-latest-blog.preset05-3 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 33.3333%;
    }

    .so-latest-blog.preset05-4 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 25%;
    }

    .so-latest-blog.preset05-5 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 20%;
    }

    .so-latest-blog.preset05-6 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 16.6666%;
    }

    .so-latest-blog.preset05-1 .clr1,
    .so-latest-blog.preset05-2 .clr2,
    .so-latest-blog.preset05-3 .clr3,
    .so-latest-blog.preset05-4 .clr4,
    .so-latest-blog.preset05-5 .clr5,
    .so-latest-blog.preset05-6 .clr6 {
        clear: both;
    }
}

@media all and (min-width: 321px) and (max-width: 480px) {
    .so-latest-blog.preset04-1 .cat-wrap {
        float: left;
        padding: 0;
        width: 100%;
    }

    .so-latest-blog.preset04-2 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 50%;
    }

    .so-latest-blog.preset04-3 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 33.3333%;
    }

    .so-latest-blog.preset04-4 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 25%;
    }

    .so-latest-blog.preset04-5 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 20%;
    }

    .so-latest-blog.preset04-6 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 16.6666%;
    }

    .so-latest-blog.preset04-1 .clr1,
    .so-latest-blog.preset04-2 .clr2,
    .so-latest-blog.preset04-3 .clr3,
    .so-latest-blog.preset04-4 .clr4,
    .so-latest-blog.preset04-5 .clr5,
    .so-latest-blog.preset04-6 .clr6 {
        clear: both;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    .so-latest-blog.preset03-1 .cat-wrap {
        float: left;
        padding: 0;
        width: 100%;
    }

    .so-latest-blog.preset03-2 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 50%;
    }

    .so-latest-blog.preset03-3 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 33.3333%;
    }

    .so-latest-blog.preset03-4 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 25%;
    }

    .so-latest-blog.preset03-5 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 20%;
    }

    .so-latest-blog.preset03-6 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 16.6666%;
    }

    .so-latest-blog.preset03-1 .clr1,
    .so-latest-blog.preset03-2 .clr2,
    .so-latest-blog.preset03-3 .clr3,
    .so-latest-blog.preset03-4 .clr4,
    .so-latest-blog.preset03-5 .clr5,
    .so-latest-blog.preset03-6 .clr6 {
        clear: both;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .so-latest-blog.preset02-1 .cat-wrap {
        float: left;
        padding: 0;
        width: 100%;
    }

    .so-latest-blog.preset02-2 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 50%;
    }

    .so-latest-blog.preset02-3 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 33.3333%;
    }

    .so-latest-blog.preset02-4 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 25%;
    }

    .so-latest-blog.preset02-5 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 20%;
    }

    .so-latest-blog.preset02-6 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 16.6666%;
    }

    .so-latest-blog.preset02-1 .clr1,
    .so-latest-blog.preset02-2 .clr2,
    .so-latest-blog.preset02-3 .clr3,
    .so-latest-blog.preset02-4 .clr4,
    .so-latest-blog.preset02-5 .clr5,
    .so-latest-blog.preset02-6 .clr6 {
        clear: both;
    }
}

@media all and (min-width: 1201px) {
    .so-latest-blog.preset01-1 .cat-wrap {
        float: left;
        padding: 0;
        width: 100%;
    }

    .so-latest-blog.preset01-2 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 50%;
    }

    .so-latest-blog.preset01-3 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 33.3333%;
    }

    .so-latest-blog.preset01-4 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 25%;
    }

    .so-latest-blog.preset01-5 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 20%;
    }

    .so-latest-blog.preset01-6 .cat-wrap {
        float: left;
        padding: 0 15px;
        width: 16.6666%;
    }

    .so-latest-blog.preset01-1 .clr1,
    .so-latest-blog.preset01-2 .clr2,
    .so-latest-blog.preset01-3 .clr3,
    .so-latest-blog.preset01-4 .clr4,
    .so-latest-blog.preset01-5 .clr5,
    .so-latest-blog.preset01-6 .clr6 {
        clear: both;
    }
}

/*################################# End css Device #############################################*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
    margin: 0 !important;
}

.marginbottom__3x {
    margin-bottom: 30px;
}

@-webkit-keyframes animLoadedLogo {
    to {
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    }
}

@keyframes animLoadedLogo {
    to {
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
        transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    }
}

@-webkit-keyframes animLoadedLoader {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    }
}

@keyframes animLoadedLoader {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
        transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    }
}

@-webkit-keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

@keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@-webkit-keyframes animInitialHeader {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0);
    }
}

@keyframes animInitialHeader {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0);
        transform: translate3d(0, 800px, 0);
    }
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
    border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
    background: #fff;
    position: relative;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #ddd;
    opacity: 0;
    transition:
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(40px);
    -moz-transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    z-index: 1;
    transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0.2s;
    z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0.2s;
    z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    z-index: 1;
    transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
    border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a,
.lib-list-item-product2 .image-dev .list-button-dev li button {
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 40px;
    text-align: center;
    box-shadow: none;
    border: none;
    color: #878787;
    width: 40px;
    padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
    background: #ff2d37;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a,
.lib-list-item-product2 .image-dev .list-button-dev li:hover button {
    color: #fff;
}
.lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
    margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
    font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
    color: #444;
    font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
    font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
    font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
    font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0;
    padding: 6px 20px;
    margin: 0 0 30px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.lib-list-item-product-over2 .image-dev .list-button-dev li {
    opacity: 1;
    transition:
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
    position: relative;
    display: block;
}
.lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}

.lib-two-img-over .img-1 {
    opacity: 0;
    transform-style: inherit;
    transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
    0% {
        opacity: 0;
        transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-webkit-keyframes myeffect-slideshow {
    0% {
        opacity: 0;
        transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-moz-keyframes myeffect-slideshow {
    0% {
        opacity: 0;
        transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-1 {
    background-color: #fff;
    /*=====SEARCH ======*/
    /*BLOCK CART*/
    /*MENU MEGA*/
}
.typeheader-1.navbar-compact .header-middle {
    padding: 15px 0;
}
.typeheader-1 .header-top {
    font-size: 13px;
    background-color: #282828;
}
.typeheader-1 .header-top .module {
    display: table-cell;
    margin-bottom: 0;
}
.typeheader-1 .header-top .dropdown-menu li {
    line-height: 22px;
}
.typeheader-1 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    display: inline-flex;
}
.typeheader-1 ul.top-link .dropdown-menu {
    left: 0;
    right: auto;
}
.typeheader-1 ul.top-link > li {
    line-height: 43px;
    position: relative;
    list-style: none;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 0px;
    margin-right: 10px;
}
.typeheader-1 ul.top-link > li:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 11px;
    top: 17px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.typeheader-1 ul.top-link > li .btn-group {
    line-height: 43px;
}
.typeheader-1 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    font-size: 13px;
    border: none;
    color: #878787;
}
.typeheader-1 ul.top-link > li > a {
    color: #ccc;
}
.typeheader-1 ul.top-link > li > a i {
    margin-right: 5px;
}
.typeheader-1 ul.top-link > li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}
.typeheader-1 ul.top-link > li:last-child:after {
    display: none;
}
.typeheader-1 .lang-curr > li .btn-group .btn-link {
    text-transform: uppercase;
}
.typeheader-1 .header-middle {
    clear: both;
    padding: 33px 0;
}
.typeheader-1 .top-log li {
    line-height: 43px;
}
.typeheader-1 .top-log li:first-child {
    padding-right: 0;
}
.typeheader-1 .top-log li i {
    margin-right: 5px;
}
.typeheader-1 .compare,
.typeheader-1 .top-link-wishlist {
    width: 44px;
    height: 44px;
    border: 2px solid #e5e5e5;
    font-size: 18px;
    color: #282828;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 42px;
}
.typeheader-1 .header-top-right .top-log {
    float: right;
}
.typeheader-1 .account {
    float: left;
    position: relative;
    margin: 0 5px;
    padding: 20px 0;
}
.typeheader-1 .account > a {
    display: block;
    line-height: 100%;
}
.typeheader-1 .account i {
    font-size: 24px;
    color: #222;
}
.typeheader-1 .account .dropdown-menu {
    right: -30px;
    left: auto;
}
.typeheader-1 .telephone {
    padding: 6px 0;
}
.typeheader-1 .socials li {
    display: inline-block;
    margin-right: 4px;
}
.typeheader-1 .socials li a {
    font-size: 14px;
    color: #bbb;
    width: 31px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    display: block;
}
.typeheader-1 .socials li a:hover {
    color: #fff;
}
.typeheader-1 .search-header-w {
    float: left;
    width: 67%;
}
.typeheader-1 #sosearchpro .search {
    position: relative;
    margin: 0;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
}
.typeheader-1 #sosearchpro .search .select_category {
    border: none;
    width: 180px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.typeheader-1 #sosearchpro .search .select_category select {
    height: 40px;
    line-height: 40px;
    color: #484848;
    font-size: 13px;
    padding: 0 15px;
}
.typeheader-1 #sosearchpro .search .select_category select:hover {
    cursor: pointer;
}

.typeheader-1 #sosearchpro .search button {
    position: absolute;
    top: -2px;
    right: -2px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    padding: 0 15px;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.typeheader-1 #sosearchpro .search button i {
    font-size: 18px;
    color: #fff;
}
.typeheader-1 #sosearchpro .search button span {
    display: none;
}
@-moz-document url-prefix() {
    .typeheader-1 #sosearchpro .search button {
        top: 0px;
        right: 0px;
    }
}
.typeheader-1 #sosearchpro .search input {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 20px;
    width: 60%;
    background-color: #fff;
    color: #b8b8b8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    outline: none;
}
.typeheader-1 #sosearchpro .search input::-moz-placeholder {
    color: #888;
    opacity: 1;
}
.typeheader-1 #sosearchpro .search input:-ms-input-placeholder {
    color: #888;
}
.typeheader-1 #sosearchpro .search input::-webkit-input-placeholder {
    color: #888;
}
.typeheader-1 #sosearchpro .search input:focus {
    z-index: 0;
}
.typeheader-1 .compare,
.typeheader-1 .wishlist {
    float: right;
    margin-right: 20px;
}
.typeheader-1 .shopping_cart {
    float: right;
    position: relative;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    width: 44px;
    height: 41px;
    line-height: 40px;
    float: left;
    text-align: center;
    border-right: 2px solid #e5e5e5;
    position: relative;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
    font-size: 18px;
    color: #282828;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c svg {
    fill: #282828;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    float: left;
    color: #282828;
    margin: 13px 15px 15px 10px;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 100%;
    text-transform: capitalize;
    float: left;
    padding-right: 5px;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
    font-size: 12px;
    float: left;
    line-height: 100%;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2 {
    display: none;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    top: -12px;
    left: 32px;
    font-size: 12px;
    color: #fff;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
    font-size: 14px;
    font-weight: 500;
}
.typeheader-1 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -15px;
    left: auto;
    color: #666;
}
.typeheader-1 .shopping_cart .shoppingcart-box:before {
    right: 50px;
}
.typeheader-1 .megamenu-style-dev .navbar-default {
    background: transparent;
}
